{% extends "top_komraz/base.html" %}

{% block content %}
    <row>
        <form action="{% url 'show_contract_supply'  %}" method="POST">
            <div class="form-group">
                <input type="hidden" required class="form-control" name="_method" id="_method" value = "POST">
                <label>Наименование запчасти</label>
                <select id="RequestType" class="form-control" name="id_detail" id="id_detail">
                    {% for detail in details %}
                        <option selected value= "{{ detail.Id_Detail }}">
                            {{ detail.NameDetail }}
                        </option>
                    {% endfor %}
                </select>
            <label>Поставщик</label>

            <select id="RequestType" class="form-control" name="id_provider" id="id_provider">
                    {% for provider in providers %}
                        <option selected value= "{{ provider.ID_Provider}}">
                            {{ provider.Organization_name }}
                        </option>
                    {% endfor %}
                </select>

                <label>Количество</label>
                <input type="text" required class="form-control" name="id_quantity" id="id_quantity">

                <label>Добавить</label>
                <input type="date" required class="form-control" name="id_date" id="id_date">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="sbumit">Добавить</button>
            </div>
        </form>
    </row>
{% endblock %}