 {% extends "top_komraz/base.html" %}

{% block content %}
<div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Шифр</th>
                  <th>Наименование</th>
                </tr>
              </thead>
              <tbody>
              {% for creator in creators %}
                <tr>
                  <td>{{ creator.Cifer_creator }}</td>
                  <td>{{ creator.Name_creator }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

{% endblock %}