 {% extends "top_komraz/base.html" %}

{% block content %}
    {% load staticfiles %}
<div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Документы</h4>
          </div>
          <div class="card-body">
            <img src="{% static 'top_komraz/images/1.png' %}"  width="150px"><br><br>
              <a class="btn btn-lg btn-block btn-secondary" href="{% url 'show_certificate_of_completion'  %}">Акты выполненых работ</a>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Учет</h4>
          </div>
          <div class="card-body">
<img src="{% static 'top_komraz/images/2.png' %}"  width="150px"><br><br>
              <a class="btn btn-lg btn-block btn-outline-secondary" href="{% url 'show_appeals'  %}">Обращения</a>
            <br>
              <a class="btn btn-lg btn-block btn-outline-secondary" href="{% url 'show_parts_stock'  %}">Запчасти в наличии</a>
            <br>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Планы</h4>
          </div>
          <div class="card-body">
<img src="{% static 'top_komraz/images/3.png' %}" width="150px">
              <br><br>
              <a class="btn btn-lg btn-block btn-secondary" href="{% url 'show_procurement'  %}">Закупки</a>
          </div>
        </div>
      </div>

{% endblock %}