<!-- Платежи -->

 {% extends "top_komraz/base.html" %}

{% block content %}

    <div class="table-responsive">

        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Номер</th>
                <th>Устройство</th>
                <th>Ремонт</th>
                <th>Дата окончания</th>
                <th>Мастер</th>
                <th>Статус</th>
                <th>Подтвердить</th>

            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                {% if  order.Id_Status.NameStatus == "Ожидает оплаты" %}
                <tr>
                    <td>{{ order.ID_Order }}</td>
                    <td>{{ order.Id_contract.Id_device.Model_device }}</td>
                    <td>{{ order.Id_contract.ID_service.Id_service.Name_work }}</td>
                    <td>{{ order.Id_contract.ConclusionDate}}</td>
                    <td>{{ order.Id_Master.FIO}}</td>
                    <td>{{ order.Id_Status.NameStatus}}</td>
                    <td>
                        <form action="{% url 'show_payments' %}" method="POST">
                            <input type="hidden" required class="form-control" name="_method" id="_method" value = "PUT">
                            <input type="hidden" required class="form-control" name="order" id="order" value = "{{ order.ID_Order }}">
                            <input type="submit" class="btn btn-outline-danger btn-sm" value="Подтвердить оплату" >
                        </form>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}